<div class="imgList">
    <ul class="clearfix">
        <li ng-repeat = "item in data" ng-click="showImg($index)"><img ng-src="{{item.src[0]}}" alt=""></li>
    </ul>
    <div>
        <button type="button" ng-click="prePage()">上一页</button>
        <input type="text" value="{{page}}" ng-model="page"  disabled="" placeholder="">
        <button type="button" ng-click="nextPage()">下一页</button>
    </div>
</div>
<div class="showImg" ng-show="showFlag == 1">
	<span ng-click="closeX()">X</span>
	<ul class="clearfix">
		<li ng-repeat="item in listData2" ng-click="showDetail($index)"><img ng-src="{{item}}" alt="加载失败"></li>
	</ul>
	<div>
        <button type="button" ng-click="childPrePage()">上一页</button>
        <input type="text" value="{{chilPage}}" ng-model="childPage" disabled="" placeholder="">
        <button type="button" ng-click="childNextPage()">下一页</button>
    </div>
    <div class="detailImg" ng-show="showImg==0">
        <span ng-click = "closeDetail()">X</span>
        <img src="{{clickData}}" alt="">
    </div>
</div>