<div class="qmgj-p-vip ng-scope">
    <!-- 头像区 -->
    <section class="user-box">
        <div class="user-group clearfix">
            <!-- 头像 -->
            <div class="img-item">
                <img alt="" ng-src="{{infoData.userImg}}">
                <div class="sprite-box">
                    <span class="sprite-phone"></span>
                    <span class="sprite-msg"></span>
                    <span class="sprite-img"></span>
                </div>
            </div>
            <!-- 信息 -->
            <div class="info-item">
                <h1 class="ng-binding">{{infoData.username}}<span class="ng-binding">{{infoData.lastTime|formatData}}</span></h1>
                <div class="clearfix safe-box">
                    <div class="safe-box1">账户安全等级：</div>
                    <div class="safe-box2">
                        <div style="width:{{['','33.33','66.66','100'][infoData.safe]}}%"></div>
                    </div>
                    <div class="safe-box3 ng-binding">{{['','低','中','高'][infoData.safe]}}</div>
                </div>
                <p class="ng-binding">上次登录时间：{{infoData.lastTime|date:'yyyy-MM-dd HH:mm:ss'}}</p>
            </div>
        </div>
    </section>
    <!-- 个人信息展示 -->
    <section class="user-section clearfix">
        <!-- 左侧导航 -->
        <div class="user-nav">
            <ul>
                <li><a ui-sref="vip.main" ui-sref-active="active" class="active">个人主页</a></li>
                <li><a ui-sref="vip.info" ui-sref-active="active" class="">个人信息</a></li>
                <li><a>安全设置</a></li>
                <li><a>关注的圈子</a></li>
                <li><a ui-sref="vip.record" ui-sref-active="active" class="" href="#/vip/record">购买记录</a></li>
            </ul>
        </div>
        <!-- 右侧显示  嵌套视图-->
        <!-- uiView: -->
        <div ui-view="" class="user-right-section ng-scope">
        </div>
    </section>
</div>